body{
	overflow-x: hidden !important;
}
#load-screen{
	background-color: rgb(246,245,247);
	position: fixed;
	z-index: 1000;
	top:0;
	width: 100%;
	height: 1600px;
}
#loading{
	width: 500px;
	height: 500px;
	margin: 10% auto;
	background: url('../img/loaderpage.gif') no-repeat center;
	background-size: 40%;
	
	
}
.block{
    display: inline-block;
    /* float: left; */
}
.alert-success,.alert-danger{
   display: block;
}

span.tag.label.label-info{
    background-color:green;
    font-size: 16px;
    font-weight: 500;
}

.post-title{
    color: black;
}

.alert-success,.alert-danger{
    display: block;
    position:absolute;
    float: right;
    /*text-align:center;*/
    z-index: 10000;
    top:0;
    left: 300px;
    font-size: 18px;
}
li{
    list-style: none;
}
#columnchart_material{
    margin: 0 auto;
}

/* 
editor settings 
*/
.tox .tox-notification--warn, .tox .tox-notification--warning{
    display: none !important;
}